<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Patientenverwaltung</title>
  <style>
    * {
      font-family: Arial, sans-serif;
    }
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
      text-align: left;
    }
  </style>
</head>
<body>
<!-- save, edit, delete-->
  <h1>Bürgerverwaltung</h1>
    <a href="/patients/new">Neuen Bürger hinzufügen</a>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Geburtstag</th>
          <th>Aktionen</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="patient : ${patients}">
          <td th:text="${patient.id}">1</td>
          <td th:text="${patient.name}">Max Mustermann</td>
          <td th:text="${patient.birthday}">01-01-2001</td>
          <td>
            <a th:href="@{/patients/edit/{id}(id=${patient.id})}">Bearbeiten</a>
            <a th:href="@{/patients/delete/{id}(id=${patient.id})}">Löschen</a>
          </td>
        </tr>
      </tbody>
    </table>
</body>
</html>